<!DOCTYPE html>
<html lang="en">
  <head>
  	<script src="node_modules/babel-core/browser.min.js"></script>
  	<script src="node_modules/angular/angular.js"></script>
<script src="./main.module.js"></script>
	  <script src="./main.route.js"></script>
	  <style type="text/css">
	  	.active {
	  		color: red;
	  	}
	  </style>
  </head>
    <body ng-app="pioneer">

    	<h1>First Controller</h1>
      <div ng-controller="firstCtrl">

          <div ng-repeat="word in words track by $index">

          	<h3 ng-if="word == 'why'">Value set by second controller using RootScope</h3>
            <span ng-class="{active: word == 'why'}">{{word}}</span>

          </div>
      </div>

      <h1>Second Controller</h1>
      <div ng-controller="secondCtrl">

          <div ng-repeat="animal in animals track by $index">

             {{animal}}

          </div>

          <h3>Value taken by First Controller Using Factory</h3>
          <div ng-repeat="word in words track by $index">

             {{word}}

          </div>
      </div>

  </body>
 </html>