$bg-color: #fefefe;
$active-font: #ff0000;
$heading-font: #808080;

body {
  background-color: $bg-color;
  color: $heading-font;

  h1 {
    color: $active-font;
  }

  .active {
    color: $active-font;
  }

  .gray {
    color: $heading-font;
  }
}
